---
layout: default
---

<div class="container">
    <div class="bs-docs-container row">
        <div class="col-md-3 bs-docs-sidebar hidden-print" role="complementary">
            <ul class="nav bs-docs-sidenav">
                {% assign sorted_pages = site.html_pages | sort: "order" %}
                {% for p in sorted_pages %}
                    {% if p.side_menu == true %}
                        <li {% if p.title == page.title %}class="active"{% endif %}>
                            <a href="{{ p.url }}">{{ p.short_title }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>

        </div>

        <div class="col-md-6" role="main">
            <div class="bs-docs-section">{{ content }}</div>
        </div>

        <div class="col-md-3 bs-docs-sidebar hidden-print sidebar-current-toc" role="complementary">
            <ul class="nav bs-docs-sidenav sidenav-current-toc"></ul>

        </div>
    </div>

    {% include disqus.html %}
</div>
